<div class="container ">

  <div class="height">

    <section class="nav ">
      <div class="item">
        <a class="text" href="/notes">
          <i class="fas fa-book-open"></i>
          <p>
            <span class="text-warning"> Your Notebooks</span>
          </p>
        </a>
      </div>
    </section>

    <div class="row " style="margin-top:21px;">
      <div class="row">
        <div class="row1">
          <button type="button" (click)="createNotebook()" [disabled]="selectedNotebook === undefined">
            <i class="fa fa-plus"></i> New notebook
          </button>
          <button type="button" (click)="createNote(selectedNoteboook!.id)">
            <i class="fa fa-plus"></i> New note
          </button>
        </div>
        <div class="overlay-content">
          <input type="text" [(ngModel)]="searchText" style="width: 40%; height: 25px;" placeholder="Search notes..."
            name="search">
          <i class="fa fa-search a"></i>
        </div>
      </div>
    </div>
  </div>


  <div class="clearfix">
    <div class="allnotes " style="margin-top: 0px; margin-left: 105px;">

      <div class="col-md-3">

        <hr align="left" style="border: 5px; background: #000066; ; height: 1px; width: 90%;">
        <div class="all">
          <a (click)="selectAllNotes()">
            <i class="fas fa-sticky-note"></i>&nbsp;&nbsp;&nbsp;<strong>All</strong>
          </a>
        </div>
        <div class="notes">
          <div class="np">
            <a *ngFor="let notebook of notebooks " (click)="selectedNotebook(notebook)">
              <hr align="left" style="border: 5px; background: #000066 ; height: 1px; width: 90%;">
              <i class="fas fa-file-alt"></i>&nbsp;
              <input [(ngModel)]="notebook.name" (change)="updateNotebook(notebook)" type="text" style="width: 72%" />
              <span class="trash">
                <a (click)="deleteNotebook(notebook)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </span>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row-info ">
      <h3 *ngIf="selectedNoteboook != undefined">{{selectedNoteboook!.name}}</h3>
      <h3 *ngIf="selectedNoteboook === undefined">All notes</h3>
      <p *ngIf="this.notes.length === 0">There are no notes to display in this notebook :(</p>
    </div>

    <div *ngFor="let note of notes | noteTextFilter:searchText" class="main-notes">
      <div style="border:4px solid ghostwhite;">
        <div style="padding: 8px; margin-top: 8px;">
          <div>
            <input type="text" [(ngModel)]=note.title (change)="updateNote(note)" class="input-label-lg" maxlength="100"
              style="width:86%" />
            <a (click)=deleteNote(note)>
              <i class="fas fa-trash-alt"></i>
            </a>
          </div>

          <textarea style="width: 95%" rows="8" [(ngModel)]=note.text (change)="updateNote(note)"></textarea><br>
          <strong class="date" style="font-size: small">{{note.lastModifiedOn | date:'dd-MM-yyy HH:mm'}}</strong>

        </div>
      </div>
    </div>

  </div>

</div>
