@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Teko:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container{
  background-color: ghostwhite;
}

.nav {
  max-width: 85%;
  margin: 0 auto;
  position: relative;

}

.nav .item {
  height: 9vh;
  border-style: solid;
  border-color: white;
}

.nav .item:nth-of-type(1) {
  background-color:black;
}

.item i {
color: #FFFF00;
font-size: 37px;
position: absolute;
bottom: 10px;
left: 25px;
}

.text {
  text-decoration: none;
}

.text-warning {
color: #FFFF00;
font-size: 26px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
position: absolute;
bottom: 13.5px;
left: 80px;
font-family: 'Roboto', sans-serif;
}

p .text-warning:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.row{
  position: relative;
}


.overlay-content {
  position: absolute;
  top: 0;
  left: 450px;
  width: 80%;
  text-align: center;
}

.overlay-content i {
font-size: 20px;
color: #999999;
position: absolute;
top:5px;
left: 730px;
}

.overlay-content i:hover {
  color: black;
}

.row1 button{
  font-size: 50x;
  padding: 10px 22px;
  background-color: yellow;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.3s;
  width: 17%;
}

button:nth-child(1) {
  position: absolute;
  top: 0;
  left: 130px;
}

button:nth-child(2) {
  position: absolute;
  top: 0;
  left: 380px;
}

button:nth-child(2):hover {
  background-color: black;
  color : yellow;
}

button:nth-child(1):hover {
  background-color: black;
  color : yellow;
}

.height{
  height: 160px;
}

.notes input{
  border: none
}

.allnotes{
  width: 25%;
  height: 1000px;
  float: left;
}

.allnotes .all a {
cursor: pointer ;
}

.allnotes a {
  cursor: pointer ;
}

.np input[type=text] {
  background-color: ghostwhite;
  color: #000066;
  font-weight: 520;
}

.row input{
  background-color: ghostwhite;
}

.all{
padding: 2px 0 2px;
color:#000066;
}


.notes .np  {
  padding: 5px 0 4px;
  color:#000066;
}

 .trash {
   margin-left: 15px;
  color: red ;
  opacity: 0.7;
}

.trash :hover {
font-size: 18px;
 color: ff0000;

}

.main-notes{
  background-color: yellow;
  width: 300px;
  border-radius: 25px;
  float: left;
}

.main-notes input[type=text] {
  background-color: yellow;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.main-notes a {
  margin: 7px;
  color: red ;
  opacity: 0.7;
}

.main-notes a :hover {
 font-size: 17px;
 color: ff0000;
}

textarea {
 background-color: yellow;
 border: none;
}

.main-notes strong{
  color:#098161;
  font-family: 'Roboto', sans-serif;
}

.row-info{
color: red;
font-family: 'Roboto', sans-serif;
margin-left: 34%;
}

.row-info p {
  color: #000066;
  font-weight: bold;
}

h3{
  height: 9px;
  font-size: 22px;
}















